* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    background-image: url(assets/background.jpg);
    background-repeat: repeat;
}
#head {
    display:flex;
    margin-top: 3em;
    justify-content: center;
}
#attempt{
    color:white;
    font-size: 2em;
    text-shadow: 2px 2px 0 black;
}
#bottom{
    margin-top:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#buttonstuff {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:1em;
    align-items: center;
}
h1{
    margin-bottom: 1em;
    color: white;
    text-shadow: 2px 2px 0 black;
}
#unsortedCards, #sortedCards{
    display: flex;
}
#unsortedTitle, #sortedTitle{
    display:flex;
    justify-content: center;
    margin:auto;
    margin-top: 1em;
}
#homesection {
    display: flex;
    flex-direction: row;
}
#submit{
    margin-top: 2em;
    margin-bottom:2em;
}
#submitbutton {
    display: flex;
    height:2em;
    width:3em;
    margin: auto;
    font-size: 1.3em;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: center;
    align-items: center;
}
#start{
    display: flex;
    height: 3em;
    width: 4em;
    margin: auto;
    margin-bottom: 2em;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
.cards, .homecards {
    white-space: pre-line;
    color:aliceblue;
    text-shadow: 1.5px 1.5px 0 black;
    padding:2em;
    border-radius: 0.5em;
    border: black;
    background-color: blueviolet;
    margin: auto;
    /* margin-left: 2em;
    margin-right: 2em; */
    height: 16em;
    width: 12em;
    border: 3mm ridge rgb(143, 106, 40);
}
.emptySlots {
    padding:1em;
    height: 16em;
    width: 12em;
    border-radius: 0.5em;
    border: 3mm ridge rgb(143, 106, 40);
    background-color: rgba(239, 222, 222, 0.47);
    /* margin-left: 2em;
    margin-right: 2em; */
    margin: auto;
}
/* #card1, #card2, #card3, #card4, #card5, #card6{
    position: absolute;
} */
h3 {
    text-align: center;
    margin: 1em;
    color: white;
}
button {
    margin: auto;
    display: flex;
}
.placeholderImage {
    height: 50%
}
#winsection{
    margin-top: 5em;
    display:flex;
    flex-direction: column;
}
#wintext{
    font-size:5em;
    text-shadow: 2px 2px 0 black;
}
#win{
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 3em;
    width:18em;
}

